.card{
    height: 100%;
    width: 99%;
    border: 1px solid;
    background-color: #f2f2f2;
    color:black;
    margin:0.5%;
    border-radius: 10px;
}

p, h3{
    margin-left: 10px;
}

.btn-update{
    background-color: #ECB159;
    margin:15px;
    padding:10px;
    border-radius: 5px;
    border: 1px solid #ECB159;
}

.btn-delete{
    background-color: #D04848;
    margin:15px;
    padding:10px;
    border-radius: 5px;
    border: 1px solid #D04848;
}
.btn-add{
    background-color: #3468C0;
    margin:15px;
    padding:10px;
    border-radius: 5px;
    border: 1px solid #3468C0;
}